/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                /* 左手側 (helix_left.overlay の row0-2, col0-5) */
                &kp Q   &kp W   &kp E   &kp R   &kp T   &kp Y
                &kp A   &kp S   &kp D   &kp F   &kp G   &kp H
                &kp Z   &kp X   &kp C   &kp V   &kp B   &kp N

                /* 右手側 (helix_right.overlay の row0-2, col0-5) */
                &kp U   &kp I   &kp O   &kp P   &kp LGUI &kp LALT
                &kp J   &kp K   &kp L   &kp SEMI &kp QUOTE &kp ENTER
                &kp M   &kp COMMA &kp DOT &kp SLASH &kp RSHIFT &kp RCTRL
            >;
        };

        /* 2段目レイヤーの例（オプション） */
        fn_layer {
            bindings = <
                &kp 1   &kp 2   &kp 3   &kp 4   &kp 5   &kp 6
                &kp 7   &kp 8   &kp 9   &kp 0   &kp MINUS &kp EQUAL
                &kp F1  &kp F2  &kp F3  &kp F4  &kp F5  &kp F6

                &kp F7  &kp F8  &kp F9  &kp F10 &kp F11 &kp F12
                &kp BSPC &kp DEL &kp HOME &kp END &kp PGUP &kp PGDN
                &kp ESC  &kp TAB &kp CAPS &kp LCTL &kp LSHIFT &kp RSHIFT
            >;
        };
    };
};
